.createpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

/* Large screens */
.inputfield {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30em;
    padding: 1em;
    margin: 1em;
    
}

/* Medium screens */
@media all and (max-width: 800px) {
    .inputfield {
        width: 50vw;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .inputfield {
        width: 80vw;
    }
}

