/* Large screens */
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30em;
    padding: 1em;
    margin: 1em;
    background-color: darkolivegreen;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .post {
        width: 50vw;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .post {
        width: 80vw;
    }
}

.dateAuthor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}