@use 'base';

.modal-title {
    flex-grow: 15;
    text-align: center;
}

.close {
    flex-grow: 1;
}

.input-error {
    color: red;
}

.custom-submit {
    color: base.$yellow !important;
    background-color: base.$blue !important;
    border: none !important;
    box-shadow: none !important;
}